@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Outfit:wght@400;700&display=swap');
:root{
    /*font*/
    --font-family:'outfit',sans-serif;
    --font-size:18px;
    --font-weight-normal:400;
    --font-weight-bold:600;
    /*color*/
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    --margin:0;
    --padding:0;
    /*color buttpn*/
    --ios-bg-color: hsl(171, 66%, 44%);
    --mac-bg-color: hsl(233, 100%, 69%);
    --ios-box-shadow: 0 .5em .9em hsla(171, 66%, 44%, 0.5);
    --mac-box-shadow: 0 .2em .4em hsla(233, 100%, 69%, 0.5);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-normal);
    height: 100vh;
    width: 100vw;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center; 
}
.container{
    max-width: 100%;
    margin: 0;
}
header{
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px;
}
.head-img{
    text-align: center;
}
h2 ,h1,h4,h3{
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--font-weight-bold);

}
.title{
   margin-top:40px ;
   margin-bottom: 10px;
   }
p{
    color: var(--Grayish-Blue);
    font-weight: var(--font-weight-normal);
}
.p1{
    margin-top: 20px;
   margin-bottom:40px ;
} 
button{
    margin-bottom:120px;  
    height: 60px;
    width: 180px;
    border-radius: 30px;
    border: none;
    margin-right: 5px;
}
.ios-button{
    background-color:var(--ios-bg-color);
    box-shadow:var(--ios-box-shadow);
}
.mac-button{
    background-color:var(--mac-bg-color);
    box-shadow:var(--mac-box-shadow);
}
button:hover{
    opacity:0.6; 
}
.p2{
    margin-top: 10px;
    margin-bottom: 30px;
}
.containe{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
    margin-bottom: 100px;
    
}
.column-image img{
    width: 730px;
    height: 570px;
    object-fit: cover;
  
}
.text h3,.text p{
padding: 10px;
margin: 0;
width: 380px;
text-align: left;
}
.text h3{
    margin-top: 40px;
}
.text p{
    font-size: 16px;
}

.access p{
    padding: 40px;
    margin-bottom: 60px;
}
.access{
   padding: 2em;
}
.supercharge p{
 margin-top: 20px;  
 margin-bottom: 50px;
}
.cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 100px;
    margin-left: 30px;
    margin-right: 40px;
}
.box img{
    padding: 30px;
}
.box p{
    padding: 30px;
    font-size: 15px;
}
.logo-box{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 50px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 200 px;
    margin-bottom: 60px;
}
.clipboard{
    margin-top: 15px;
}
.clipboard p{
    margin-top: 10px;
    margin-bottom: 40px;
}
.faq{
    display: grid;
    padding: 40px;
    background-color: hsl(220, 18%, 97%);
    max-width: 100%;
    margin: 0;
    grid-template-columns: 1fr 2fr 2fr;
}
.logo-c {
    margin-bottom: 2em;

   
}
.img-logo{
    width: 20%;
}
.faqs{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
.faqs a{
  margin-right: 40px;
  margin-bottom: 30px;
}
.faqs p{
    color: var(--Dark-Grayish-Blue);
    text-align: left;
    margin-bottom: 1em;
   
}
.faqs p:hover{
color: var(--ios-bg-color);
}
.social{
    margin-top:10%;
    margin-left: auto;
}
 .sos{
    margin-right: 30px;
}
